@font-face {
    font-family: icons;
    src: url('../fonts/Type\ Icons.ttf');
}

.bio {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-family: Leahlee;
    color: white;
    letter-spacing: 1pt;
    font-size: 15pt;
    line-height: 20pt;
}

img {
    margin-bottom: 5px;
    height: 75px;
    width: 75px;
    filter: grayscale(100%);
    border-radius: 150px;
}

img:hover {
    filter: none;
    transition-duration: 1s;
}

.us {
    padding: 10px;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}

.icon-text {
    font-family: icons;
    text-decoration: none;
    font-size: 20pt;
    line-height: 30pt;
    color: pink;
}

.icon-text:hover {
    color: maroon;
    transition-duration: 1s;
}

