@font-face {
    font-family: Paper Flowers;
    src: url('../fonts/Paper\ Flowers.ttf');
}

@font-face {
    font-family: Luna;
    src: url('../fonts/Luna.ttf');
}

@font-face {
    font-family: Beauty and the Beast;
    src: url('../fonts/Beauty\ and\ the\ Beast\ Sample.ttf');
}

@font-face {
    font-family: DoubleFeature;
    src: url('../fonts/DoubleFeature20.ttf');
}

#dial {
    margin-top: 0px;
}

.choice-button {
    margin-top: 255px;
}

#vent {
    margin-top: 327px;
}

p {
    margin: 20px;
    font-family: Luna;
    font-size: 20pt;
    color: white;
}

.name {
    text-align: center;
    height: 35px;
    font-size: 25pt;
    font-family: Paper Flowers;
    background-color: gainsboro;
    border: solid 2px gray;
    border-radius: 5px;
}

.avatar{
    width: 190px;
    margin-top: 0px;
    filter: grayscale(100%);
}

.avatar:hover {
    transition-duration: 1.5s;
    transform: scale(1.2);
    filter: none;
}

input[type="radio"] {
    display: none;
}

:checked + img {
    filter: none;
    transform: scale(1.2);
}   
.gender {
    height: 75px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    filter: grayscale(100%);
}

.gender:hover {
    transform: scale(1.2);
    transition-duration: 1.5s;
    filter: none;
}

#logo {
    float: left;
    margin-left: 15px;
    margin-top: -20px;
    height: 30px;
    opacity: .5;
}

.m {
    float: left;
    margin-top: -10px;
    font-family: Beauty and the Beast;
    color: white;
}

.v {
    margin-top: -12px;
    margin-left: 1px;
    font-family: DoubleFeature;
    color: maroon;
    font-size: 20pt;
}

.b {
    float: right;
    margin-left: 1px;
    margin-top: 15px;
    font-family: Beauty and the Beast;
    color: white;
}

