.avatar{
    height: 20%;
    width: 20%;

}

.hidden{
    display: none;
}

input[type="radio"]{
    display: none;
}

:checked + img {
    border: solid 5px rgb(218, 45, 23);
}   
.gender{
    height: 100px;
    width: 100px;
}

