@font-face {
    font-family: Paper Flowers;
    src: url('../fonts/Paper\ Flowers.ttf');
}

form {
    margin: 0;
}

.avatar{
    width: 190px;
    filter: grayscale(100%);
}

.avatar:hover {
    transition-duration: 1.5s;
    transform: scale(1.4);
    filter: none;
}

input[type="radio"] {
    display: none;
}

:checked + img {
    filter: none;
    transform: scale(1.4);
}   
.gender {
    height: 100px;
}

.gender:hover {
    transform: scale(1.4);
    transition-duration: 1.5s;
}

