@font-face {
    font-family: A Lolita Scorned;
    src: url('../fonts/A_Lolita_Scorned.ttf');
}

@font-face {
    font-family: Beauty and the Beast;
    src: url('../fonts/Beauty\ and\ the\ Beast\ Sample.ttf');
}

@font-face {
    font-family: BloodLust;
    src: url('../fonts/BloodLust.ttf');
}

@font-face {
    font-family: Night of Terror;
    src: url('../fonts/CFNightofTerrorPERSONAL-Reg.ttf');
}

@font-face {
    font-family: Crafty Beach;
    src: url('../fonts/Crafty\ Beach.otf');
}

@font-face {
    font-family: DoubleFeature;
    src: url('../fonts/DoubleFeature20.ttf');
}

@font-face {
    font-family: Paper Flowers;
    src: url('../fonts/Paper\ Flowers.ttf');
}

@font-face {
    font-family: SweetPurple;
    src: url('../fonts/sweet\ purple.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #696969;
}

main {
    margin: 30px;
    height: 650px;
    width: 910px;
    background-color: #303030;
    border: ridge 5px saddlebrown;
}

#screenframe {
    margin-top: 32.5px;
    margin-left: 32.5px;
    background-image: linear-gradient(to bottom right, #101010, #202020);
    height: 575px;
    width: 675px;
    border: ridge 5px black;
}

#screen {
    margin: 20px;
    height: 525px;
    width: 625px;
    background-color: #202020;
    border: double 5px gray;
    border-radius: 40px;
    text-align: center;
}


#my {
    float: left;
    margin-top: 185px;
    margin-left: 175px;
    color: pink;
    font-family: Beauty and the Beast;
    font-size: 20pt;
}

#vampire {
    float: left;
    margin-top: 220px;
    margin-left: -95px;
    letter-spacing: 2pt;
    color: maroon;
    font-family: DoubleFeature;
    font-size: 60pt;
}

#boyfriend {
    float: left;
    margin-top: 20px;
    margin-left: 200px;
    color: pink;
    font-family: Beauty and the Beast;
    font-size: 40pt;
}

#dial {
    float: right;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #101010;
    border-radius: 100px;
}

button {
    margin-top: 13px;
    margin-left: 13px;
    width: 125px;
    height: 125px;
    font-family: Beauty and the Beast;
    font-size: 20pt;
    letter-spacing: 2px;
    line-height: 24pt;
    background-color: silver;
    border: groove 2px dimgray;
    border-radius: 100px;
}

.choice-button {
    float: right;
    margin-top: 180px;
    margin-right: -180px;
}

.small-buttons {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background-color: silver;
}

.numbers {
    float: right;
    margin-top: 60px;
    line-height: 20pt;
}

#vent {
    float: right;
    margin-top: 240px;
    margin-right: -150px;
    width: 150px;
    height: 390px;
    background-color: #303030;
}

.hearts {
    color: hotpink;
}