@font-face {
    font-family: A Lolita Scorned;
    src: url('../fonts/A_Lolita_Scorned.ttf');
}

@font-face {
    font-family: Beauty and the Beast;
    src: url('../fonts/Beauty\ and\ the\ Beast\ Sample.ttf');
}

@font-face {
    font-family: BloodLust;
    src: url('../fonts/BloodLust.ttf');
}

@font-face {
    font-family: Night of Terror;
    src: url('../fonts/CFNightofTerrorPERSONAL-Reg.ttf');
}

@font-face {
    font-family: Crafty Beach;
    src: url('../fonts/Crafty\ Beach.otf');
}

@font-face {
    font-family: DoubleFeature;
    src: url('../fonts/DoubleFeature20.ttf');
}

@font-face {
    font-family: Paper Flowers;
    src: url('../fonts/Paper\ Flowers.ttf');
}

@font-face {
    font-family: SweetPurple;
    src: url('../fonts/sweet\ purple.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #696969;
}

main {
    margin: 15px;
    height: 650px;
    width: 910px;
    background-color: #303030;
    border: ridge 20px saddlebrown;
}

#screenframe {
    margin-top: 32.5px;
    margin-left: 32.5px;
    background-image: linear-gradient(to bottom right, #101010, #202020);
    height: 575px;
    width: 675px;
    border: ridge 5px black;
}

#screen {
    margin: 20px;
    height: 525px;
    width: 625px;
    background-color: #202020;
    border: double 5px gray;
    border-radius: 40px;
    text-align: center;
}


#my {
    float: left;
    margin-top: 105px;
    margin-left: 115px;
    text-shadow: 0px 0px 15px pink;
    color: white;
    font-family: Beauty and the Beast;
    font-size: 40pt;
}

#vampire {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    text-shadow: 0px 0px 15px black;
    letter-spacing: 2pt;
    color: maroon;
    font-family: DoubleFeature;
    font-size: 100pt;
}

#boyfriend {
    float: left;
    margin-top: 10px;
    margin-left: 200px;
    text-shadow: 0px 0px 15px pink;
    color: white;
    font-family: Beauty and the Beast;
    font-size: 70pt;
}

#dial {
    float: right;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #101010;
    border-radius: 100px;
}

button {
    margin-top: 13px;
    margin-left: 13px;
    width: 125px;
    height: 125px;
    font-family: Paper Flowers;
    font-size: 30pt;
    letter-spacing: 2px;
    line-height: 24pt;
    background-color: silver;
    border: outset 2px dimgray;
    border-radius: 100px;
    transition: transform 2s;
}

button:hover {
    transform: rotate(45deg);
    
}

.choice-button {
    float: right;
    margin-top: 170px;
    margin-right: -155px;
}

.small-buttons {
    height: 35px;
    width: 35px;
    font-family: Paper Flowers;
    font-size: 20pt;
    margin-right: 5px;
    background-color: silver;
}

.number-spacing {
    float: right;
    margin-top: 220px;
    margin-right: -192px;
}

.numbers {
    font-size: 20pt;
    margin-right: 40px;
}

#vent {
    float: right;
    margin-top: 250px;
    margin-right: -165px;
    width: 150px;
    height: 360px;
    background-color: #101010;
    border: solid 3pt black;
}

.hearts {
    font-size: 40pt;
    text-shadow: 0px 0px 15px pink;
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#one {
    float: left;
    margin-top: -370px;
    margin-left: 75px;
    color: hotpink;
}

#two {
    float: left;
    margin-top: -300px;
    margin-left: 350px;
    color: pink;

}

#three {
    float: left;
    margin-top: -340px;
    margin-left: 560px;
    color: deeppink;

}

#four {
    float: right;
    margin-top: 25px;
    margin-right: 75px;
    color: mediumvioletred

}

#five {
    float: right;
    margin-top: 55px;
    margin-right: 200px;
    color: lightpink;
}

#six {
    float: right;
    margin-top: -55px;
    margin-right: 175px;
    color: red;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }   

    40% {
        transform: translateY(-25px);
    }

    80% {
    }

    100% {
        transform: translateY(0px);
    }
}