@font-face {
    font-family: A Lolita Scorned;
    src: url('../fonts/A_Lolita_Scorned.ttf');
}

@font-face {
    font-family: Beauty and the Beast;
    src: url('../fonts/Beauty\ and\ the\ Beast\ Sample.ttf');
}

@font-face {
    font-family: BloodLust;
    src: url('../fonts/BloodLust.ttf');
}

@font-face {
    font-family: Night of Terror;
    src: url('../fonts/CFNightofTerrorPERSONAL-Reg.ttf');
}

@font-face {
    font-family: Crafty Beach;
    src: url('../fonts/Crafty\ Beach.otf');
}

@font-face {
    font-family: DoubleFeature;
    src: url('../fonts/DoubleFeature20.ttf');
}

@font-face {
    font-family: Paper Flowers;
    src: url('../fonts/Paper\ Flowers.ttf');
}

@font-face {
    font-family: SweetPurple;
    src: url('../fonts/sweet\ purple.ttf');
}

body {
    background-color: #696969;
}

main {
    margin: 15px;
    height: 790px;
    width: 1200px;
    background-color: #303030;
    border: ridge 20px saddlebrown;
}

#screenframe {
    margin-top: 40px;
    margin-left: 40px;
    background-image: linear-gradient(to bottom right, #101010, #202020);
    height: 700px;
    width: 850px;
    border: ridge 5px black;
}

#screen {
    margin: 35px;
    height: 620px;
    width: 770px;
    background-color: #202020;
    border: double 5px gray;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px 0px 100px #404040;
}


#my {
    float: left;
    margin-left: 140px;
    margin-top: 100px;
    text-shadow: 0px 0px 15px pink;
    color: white;
    font-family: Beauty and the Beast;
    font-size: 40pt;
}

#vampire {
    float: left;
    margin-left: 80px;
    text-shadow: 0px 0px 15px black;
    letter-spacing: 2pt;
    color: maroon;
    font-family: DoubleFeature;
    font-size: 100pt;
}

#boyfriend {
    float: left;
    margin-top: 10px;
    margin-left: 200px;
    text-shadow: 0px 0px 15px pink;
    color: white;
    font-family: Beauty and the Beast;
    font-size: 70pt;
}

#dial {
    float: right;
    height: 250px;
    width: 250px;
    margin-top: 40px;
    margin-right: 20px;
    background-color: #101010;
    border-radius: 150px;
}

button {
    margin-top: 13px;
    margin-left: 13px;
    width: 225px;
    height: 225px;
    font-family: Paper Flowers;
    font-size: 50pt;
    letter-spacing: 2px;
    line-height: 24pt;
    background-color: silver;
    border: outset 2px dimgray;
    border-radius: 150px;
    transition: transform 2s;
}

button:hover {
    transform: rotate(45deg);
    
}

.choice-button {
    float: right;
    margin-top: 295px;
    margin-right: -220px;
}

.small-buttons {
    height: 45px;
    width: 45px;
    font-family: Paper Flowers;
    font-size: 20pt;
    margin-right: 5px;
    background-color: silver;
}

.number-spacing {
    float: right;
    margin-top: 220px;
    margin-right: -192px;
}

.numbers {
    font-size: 20pt;
    margin-right: 40px;
}

#vent {
    float: right;
    margin-top: 367px;
    margin-right: -250px;
    width: 250px;
    height: 375px;
    background-color: #101010;
    border: solid 3pt black;
}

.hearts {
    font-size: 40pt;
    text-shadow: 0px 0px 15px pink;
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#one {
    float: left;
    color: hotpink;
}

#two {
    float: left;
    color: pink;

}

#three {
    float: left;
    color: deeppink;

}

#four {
    float: right;
    color: mediumvioletred

}

#five {
    float: right;
    color: lightpink;
}

#six {
    float: right;
    color: red;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }   

    40% {
        transform: translateY(-25px);
    }

    80% {
    }

    100% {
        transform: translateY(0px);
    }
}