@font-face {
    font-family: Paper Flowers;
    src: url('../fonts/Paper\ Flowers.ttf');
}

@font-face {
    font-family: Luna;
    src: url('../fonts/Luna.ttf');
}

@font-face {
    font-family: InternetFriends;
    src: url('../fonts/Internet\ Friends.ttf');
}

#avatar{
    margin-top: 20px;
    margin-bottom: 0;
    width: 250px;
}

#player-name{
    margin-top: 5px;
    text-align: center;
    font-family: Paper Flowers;
    font-size: 25pt;
    color: white;
}

#dialogue-div{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    height: 100px;
    padding: 10px;
    background-color: #ff83c1;
    border: solid 2px white;
    border-radius: 10px;
}

#dialogue-box{
    font-family: Luna;
    letter-spacing: .7pt;
    font-size: 10pt;
    color: white;
}


.response{
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    font-family: Luna;
    font-size: 8pt;
    letter-spacing: 1pt;
    color: white;
    background-color: #ff83c1;
    border: solid 1px white;
    border-radius: 5px;
}

#button1:hover > .response {
    box-shadow: 2pt 2pt 5pt white;
}

#character-image{
    float: left;
    margin-right: 25px;
    margin-top: 45px;
    max-height: 300px;
    animation: avatar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#logo {
    float: left;
    margin-left: 55px;
    margin-top: 613px;
    height: 30px;
    opacity: .5;
}

.m {
    float: left;
    margin-top: -10px;
    font-family: Beauty and the Beast;
    color: white;
}

.v {
    margin-top: -12px;
    margin-left: 1px;
    font-family: DoubleFeature;
    color: maroon;
    font-size: 20pt;
}

.b {
    float: right;
    margin-left: 1px;
    margin-top: 15px;
    font-family: Beauty and the Beast;
    color: white;
}

@keyframes avatar {
    0% {
        transform: translateX(0px)
    }
    30% {
        transform: translateX(20px)
    }
    60% {
        transform: translateX(15px)
    }
    100% {
        transform: translateX(0px)
    }
}

