@font-face {
    font-family: Paper Flowers;
    src: url('../fonts/Paper\ Flowers.ttf');
}

#avatar{
    margin-top: 20px;
    width: 150px;
}

#player-name{
    text-align: center;
    font-family: Paper Flowers;
    font-size: 25pt;
    color: white;
}

#dialogue-box{
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    font-family: Paper Flowers;
    font-size: 17pt;
    color: white;
    background-color: maroon;
    border: solid 2px silver;
    border-radius: 10px;
}

.response{
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    font-family: Paper Flowers;
    font-size: 17pt;
    color: white;
    background-color: maroon;
    border: solid 1px silver;
    border-radius: 5px;
}

#character-image{
    float: right;
    margin-right: 25px;
    margin-top: 35px;
    max-height: 300px;
    animation: vampire;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes vampire {
    0% {
        transform: translateX(0px)
    }
    30% {
        transform: translateX(-5px)
    }
    60% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0px)
    }
}

