@font-face {
    font-family: Luna;
    src: url('../fonts/Luna.ttf');
}

#avatar{
    margin-top: 20px;
    margin-bottom: 0;
    width: 250px;
}

#avatar-image{
    width: 100%;
}

#player-name{
    margin-top: 5px;
    text-align: center;
    font-family: Paper Flowers;
    font-size: 25pt;
    color: white;
}

button {
    line-height: 40pt;
}

.small-buttons {
    line-height: 24pt;
}

#text-div {
    position: fixed;
    height: 550px;
    width: 600px;
}

.result-text {
    padding: 75px;
    text-align: center;
    font-family: Luna;
    color: white;
    letter-spacing: 1pt;
    line-height: 30pt;
    animation: scroll-up 15s linear;
}


.date-text {
    padding: 75px;
    text-align: center;
    font-family: Luna;
    color: white;
    letter-spacing: 1pt;
    line-height: 30pt;
    animation: scroll-up-date 15s linear;
}

#logo {
    float: left;
    margin-left: 15px;
    margin-top: 573px;
    height: 30px;
    opacity: .5;
}

.m {
    float: left;
    margin-top: -10px;
    font-family: Beauty and the Beast;
    color: white;
}

.v {
    margin-top: -12px;
    margin-left: 1px;
    font-family: DoubleFeature;
    color: maroon;
    font-size: 20pt;
}

.b {
    float: right;
    margin-left: 1px;
    margin-top: 15px;
    font-family: Beauty and the Beast;
    color: white;
}

.heart {
    margin-left: 15px;
    margin-top: -15px;
    margin-right: 15px;
    animation: bounce 4s infinite;
}

@keyframes scroll-up {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes scroll-up-date {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}