@font-face {
    font-family: Luna;
    src: url('../fonts/Luna.ttf');
}

#avatar{
    margin-top: 20px;
    margin-bottom: 0;
    width: 250px;
}

#avatar-image{
    width: 100%;
}
.result-image{
    width: 350px;
    margin-top: -80px;
   
}
#player-name{
    margin-top: 5px;
    text-align: center;
    font-family: Paper Flowers;
    font-size: 25pt;
    color: white;
}

button {
    line-height: 40pt;
}

.small-buttons {
    line-height: 24pt;
}

.text-div {
    position: fixed;
    height: 620px;
    width: 770px;
    top: 120px;
    left: 120px;
    overflow: hidden;
}

.result-text {
    padding: 50px;
    text-align: center;
    font-family: Leahlee;
    font-size: 30pt;
    color: white;
    letter-spacing: 1pt;
    line-height: 30pt;
    animation: scroll-up 15s linear;
}

.date-text {
    padding: 50px;
    text-align: center;
    font-family: LeahLee;
    font-size: 30pt;
    color: white;
    letter-spacing: 1pt;
    line-height: 30pt;
    animation: scroll-up-date 15s linear;
}

a {
    position: fixed;
    margin-left: -385px;
    margin-top: 144px;
    height: 30px;
    z-index: 1;
}

.m {
    float: left;
    margin-top: -10px;
    font-family: Beauty and the Beast;
    color: white;
}

.v {
    margin-top: -12px;
    margin-left: 1px;
    font-family: DoubleFeature;
    color: maroon;
    font-size: 20pt;
}

.b {
    float: right;
    margin-left: 1px;
    margin-top: 15px;
    font-family: Beauty and the Beast;
    color: white;
}

@keyframes scroll-up {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes scroll-up-date {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}